<link rel="stylesheet" href="/css/forgotten_password.css" />
<body>
  <div class="view-form">
    <form
      action="/users/forgot-password"
      method="POST"
      id="forgotten_password-form"
    >
      <input
        type="email"
        name="email"
        placeholder="Enter Your Registered Email"
        required
      />
      <button type="submit" id="btn">Update Password</button>
    </form>
  </div>
</body>
